@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "UniversLTStd-Ex";
  src: url("../fonts/universltstd-ex.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "UniversLTStd-BoldEx";
  src: url("../fonts/universltstd-boldex.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "UniversLTStd-BlackEx";
  src: url("../fonts/universltstd-blackex.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "ApolloMTStd";
  src: url("../fonts/apollomtstd.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family:"UniversLTStd";
  src: url("../fonts/universltstd.woff") format("woff");
}
