a {
  border-bottom: 1px solid rgba($action-color, 0.25);
  color: $action-color;
  padding-bottom: 0.25rem;
  text-decoration: none;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: lighten($action-color, 25%);
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}
