// Typography
$base-font-family: "UniversLTStd-Ex";
$small-font-size: 0.675rem;

// Spacing
$base-spacing: 1rem;
$medium-spacing: $base-spacing * 1.75;
$large-spacing: $medium-spacing * 2;

// Colors
$base-background-color: #316d76;
$bright-color: #50e3c2;
$action-color: $bright-color;

// Timing
$base-duration: 0.3s;
$fast-duration: $base-duration / 2;
$base-timing: ease-in-out;

// Anchors
$focus-outline: blue;
$focus-outline-offset: 3px;
