@import "variables";
// @import "animations";
@import "breakpoint";
@import "breakpoints";
@import "fonts";
// @import "custom-cursor";
// @import "links";
// @import "will-reveal";

html {
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include breakpoint($breakpoint-medium-up) {
    // font-size: 18px;
  }
  @include breakpoint($breakpoint-large-up) {
    font-size: 20px;
  }
}

body {
  padding: $base-spacing;
  color: $bright-color;
  // color: white;
  // font-family: $base-font-family;
  // line-height: 1.5;
  font-family: "ApolloMTStd";
}

h1 {
  // margin: $large-spacing auto;
  // font-size: 3rem;
  // font-family: 'Noticia Text', serif;
  font-family: "UniversLTStd-BlackEx";
}

h2 {
  color: $bright-color;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  font-size: $small-font-size;
  font-family: "UniversLTStd-BlackEx";
}

p {
  margin-bottom: $medium-spacing;
}

.container {
  margin: 0 auto;
  max-width: 800px;

  @include breakpoint($breakpoint-large-up) {
    max-width: 1100px;
  }
}

header {
  display: flex;
  font-size: $small-font-size;
  font-family: "UniversLTStd-BoldEx";

  justify-content: space-around;

  span:first-child {
    flex: 1;
  }
}

.introduction-image {
  top: 0;
  right: -50%; //-400px
  transform: rotate(5deg);

  @include breakpoint($breakpoint-large-up) {
    right: -25%;
    width: 50%;
  }
}

.bg-lavender {
  background-color: #A9C8FF;
}

ul {
  font-family: "UniversLTStd";
}

.apollo {
  font-weight: normal;
  font-family: "ApolloMTStd", serif;
}
