<header>
  <span>
    Mike Borsare
  </span>
  <a href="//www.dribbble.com/mborsare">Dribbble</a>
  <a href="//www.google.com/search?q=%22mborsare%22%20mike%20borsare">
    Everywhere else
  </a>
  <a href="mailto:mborsare@gmail.com?subject=Hello from internetland">
    Contact
  </a>
</header>
