---
title: Mike Borsare
---

<main class="container">
  <h1>
    Hello!
    <span class="introduction">
      <a href="#">I’m, Mike Borsare.</a>
      <img class="will-reveal follow-cursor" src="images/me.png" alt="it me">
    </span>
    I’m a Product Designer with front-end chops. I
    live in Boston and work at thoughtbot.
  </h1>
  <section>
    <h2>
      This is what I do at work
    </h2>
    <p>
      I create and implement strong, memorable products. I mentor young
      designers. I ask why a whole bunch. I create and improve design systems. I
      strike a balance between excellent visual design and intuitive user
      experience.
    </p>
  </section>
  <section>
    <h2>
      This is what I do outside of work
    </h2>
    <p>
      I run. I read books. I watch college football (Roll Tide). I play
      peek-a-boo with my new daughter Cora. And oh so many, many, other things.
    </p>
  </section>

</main>
