---
title: Mike Borsare
---

<main class="container relative-ns">
  <h1 class="pv4 pv5-ns f3">
    <div class="introduction white ttu tracked f6 f4-ns pb3">Hello! I’m, Mike Borsare.</div>
    I’m a Product Designer with front-end chops. I live in Boston and work at thoughtbot.
  </h1>
  <img class="ba-ns absolute-ns right--2 top-0 o-20" src="images/me.png" alt="Pictures of Mike Borsare">

  <div class="pv3 flex-ns">
    <section class="w-50-ns mr3-ns">
      <h2 class="white">
        This is what I do at work
      </h2>
      <ul class="pl0 lh-copy">
        <li>I create and implement strong, memorable products.</li>
        <li>
          I strike a balance between excellent visual design and intuitive user experience.</li>
        <li>I create and improve design systems.</li>
        <li>I mentor young designers.</li>
        <li>I ask why a whole bunch.</li>
      </ul>
    </section>

    <section class="w-50-ns">
      <h2 class="white">
        This is what I do outside of work
      </h2>
      <ul class="pl0 lh-copy">
        <li>I run.</li>
        <li>I read books.</li>
        <li>I watch college football (Roll Tide).</li>
        <li>I play peek-a-boo with my new daughter Cora.</li>
        <li>And oh so many, many, other things.</li>
      </ul>
    </section>
  </div>
  <section>
    <h2 class="pv3 ttu track white f6">Wait, What is it you do again?</h2>
    <div class="w-100 cf">
      <div class="fl w-50-ns pa2">
        <div class="outline pa4">
          Product design
          It’s a combination of user interface, user experience, graphic design, and interaction
        </div>
      </div>

      <div class="fl w-50-ns pa2">
        <div class="outline pa4">
          User Interface & Experience
          The space where interactions between humans and machines occur.
          Source: Wikipedia ↗
        </div>
      </div>

      <div class="fl w-50-ns pa2">
        <div class="outline pa4">
          Graphic design
          The art and practice of planning and projecting ideas and experiences with visual and textual content.
          Source: AIGA ↗
        </div>
      </div>

      <div class="fl w-50-ns pa2">
        <div class="outline pa4">
          Interaction
          The practice of empowering the user to achieve their objective(s) in the best way possible.
          Source: Wikipedia ↗
        </div>
      </div>
    </div>
  </section>


</main>
